* {
    box-sizing: border-box;
}
.form{
    width: 300px;
    border-radius: 8px;
    margin: 50px auto;
    padding: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
